body {
  margin: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}

.player-still {
  background-image: url('./components/player/player_walk.png');
  width: 52px;
  height: 65px;
  animation: stand 1.0s steps(4) infinite;
  position: relative;
}
@keyframes stand{
  from { background-position: 0px 0px }
  to { background-position: -255px 0px }
}

.player-attack {
  background-image: url('./components/player/player_walk.png');
  width: 52px;
  height: 65px;
  animation: attack 1.0s steps(3);
  position: relative;
}
@keyframes attack{
  from { background-position: -255px 0px }
  to { background-position: -455px 0px }
}

.monster-still {
  background-image: url('./components/monster/monster_wolve_claws02.gif');
  width: 123px;
  height: 82px;
  animation: monstand 1.0s steps(7) infinite;
  /* animation:1s float infinite linear; */
  transition: .5s;
  position: relative;
}
@keyframes monstand{
  from { background-position-x: 0%;}
  to {background-position-x: 92.5%; }
}
.mosnter-hurt {
  background-image: url('./components/monster/monster_wolve_claws02.gif');
  width: 130px;
  height: 82px;
  animation-delay: 2s;
  animation: monhurt .01s steps(2) infinite;
  /* animation:1s float infinite linear; */
  transition: .5s;
  position: relative;
}
@keyframes monhurt{
  from {  background-position-x: 62.46%; background-position-y: -343px; }
  to { background-position-x: 91.5%; background-position-y: -343px; }
}
/* @keyframes monstand{
  from { background-position: 0px 0px }
  to { background-position: -480px 0px }
} */
.mosnter-attack {
  bottom: 100%;
  left: 0%;
  background-image: url('./components/monster/monster_wolve_claws02.gif');
  width: 120px;
  height: 89px;
  animation: monattack1 1s steps(5) infinite;
  animation: monattack2 3s steps(3) infinite;
  /* animation:1s float infinite linear; */
  transition: .5s;
  position: relative;
}
@keyframes monattack1{
  from { background-position-x: 0%; background-position-y: -92px; }
  to { background-position-x: 65.5%; background-position-y: -92px; }
}
@keyframes monattack2{
  from { background-position-x: 70%; background-position-y: -92px; }
  to { background-position-x: 105.5%; background-position-y: -92px; }
}
@keyframes float{
  20%{
    background-position: 0px 0px;
  }
  40%{
    background-position: 0px 1px;
  }
  60%{
    background-position: 0px 3px;
  }
  80%{
    background-position: 0px 2px;
  }
  100%{
    background-position: 0px 1px;
  }
}

.player-attack-effect {
  bottom: -52%;
  left: 25%;
  background-image: url('./components/player/explosion-sprite-png-2d-explosion-sprite-sheet-11562854314rscwcspwlm.png');
  width: 95px;
  height: 88px;
  animation: pattack1 .55s steps(9) infinite;
  transition: .5s;
  position: relative;
}
@keyframes pattack1{
  from { background-position-y: 0%}
  to {  background-position-y: 120% }
}